body{
    
    background-color: black;
background-size: cover;
}
    
    
    
    
    
    #container {
    
    background-color: #12729a;
    border-radius: 40px;
    color: aliceblue;
    text-align: center;
    
    
    }

    .navbar-toggler{
    
border: none;

    }

.offcanvas-header{

background-color: #12729a;
color: white;
}


   
.offcanvas-body{

    background-color: #12729a;
color: white;


}

.dropdown-menu{

background-color: #12729a;
}

.dropdown-item{

color: white;

}


.dropdown-item:hover{

background-color: white ;
color: black;
border-radius: 40px;

}
    
.nav-link{

color: white;
background-color: transparent;
border-radius: 30px;

}

  
.nav-link:hover{

    color: black;
    background-color: antiquewhite;
    border-radius: 30px;

} 


.nav-link:active{

    color: #12729a;
    background-color: antiquewhite;
    border-radius: 30px;
    
    }


    .nav-link:focus{

        color: black;
        background-color: transparent;
        border-radius: 30px;
        
        }  
   




#header{
color: white;
text-align: center;

}

#button{
    background-color: #12729a   ;
    border-radius: 30px;
    width: 100px;
width: 40%;



}

#button a{
text-decoration: none;
color: white;
}

#button:hover{
    background-color: #ff8959   ;
    border-radius: 30px;
    width: 40%;
    
}



