body{
    
    background-color: black;
background-size: cover;
margin: 0;
padding: 0;
border: 0;
}
    
    
    
    
    
    #container {
    
    background-color: #12729a;
    border-radius: 40px;
    color: aliceblue;
    text-align: center;
    
    
    }

    .navbar-toggler{
    
border: none;

    }

.offcanvas-header{

background-color: #12729a;
color: white;
}


   
.offcanvas-body{

    background-color: #12729a;
color: white;


}

.dropdown-menu{

background-color: #12729a;
}

.dropdown-item{

color: white;

}


.dropdown-item:hover{

background-color: white ;
color: black;
border-radius: 40px;

}
    
.nav-link{

color: white;
background-color: transparent;
border-radius: 30px;

}

  
.nav-link:hover{

    color: black;
    background-color: antiquewhite;
    border-radius: 30px;

} 


.nav-link:active{

    color: #12729a;
    background-color: antiquewhite;
    border-radius: 30px;
    
    }


    .nav-link:focus{

        color: black;
        background-color: transparent;
        border-radius: 30px;
        
        }  
   




#header{
color: white;
text-align: center;

}

#Info{
padding: 6px;
padding-left: 30px;
padding-right: 30px;
border: none;
background-color: #12729a;
border-radius: 30px;
text-decoration: none;
color: white;
}

#Info:hover{

padding: 6px;
padding-left: 30px;
padding-right: 30px;
border: none;
background-color: rgb(243, 125, 46);
border-radius: 30px;
color: black;

}